@import '~antd/dist/antd.min.css';

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px;
    gap: 24px;

    position: absolute;
    width: 450px;
    height: 348px;
    left: 735px;
    top: 244px;

    /* Background/Default/1 */

    background: #FFFFFF;
}

.form-header{
    width: 168px;
    height: 24px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    color: rgba(23, 26, 28, 0.85);
    margin-left: 1.5em;
}