@import '~antd/dist/antd.min.css';

.ant-form-item {
    height: 4em;
}

.notice-container {
    width: 300px;
    height: 44px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    /* or 157% */

    color: #1890FF;
}

.submit-btn {
    margin-top: -0.8em !important;
}

.back-login {
    margin-top: -2.3em !important;
    text-align: left;
}