.reset-button {
    margin-right: 22px;
    border: 1px solid #D9D9D9;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
}

.submit-button {
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 2px;
}

.button-container{
    display:flex;
    justify-content: end;
}

.form-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #262626;
}


.search-entry-bg {
    height: 100vh;
    width: 100vw;
    background-size: cover !important;
    background: url('../assets/search entry background.png') no-repeat center center;
}

.entry-form-no-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    width: 330px;
    height: 32px;
}

.search-entry-input{
    width: 243px;
    height: 32px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
}

.search-entry-main-container {
    margin: 16px 16px 0 16px;
}