@import '~antd/dist/antd.min.css';


.header{
  background: #004D97 !important;
}

.headerTitle{
    font-family: Arial;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
    margin-top: 16px;
}